Package: integerwords
Version: 1.0.1-1
Architecture: all
Maintainer: Ed Novak <enovak@fandm.edu>
Installed-Size: 30
Depends: python3:any, python3, python3-setuptools
Section: unknown
Priority: optional
Multi-Arch: foreign
Homepage: https://github.com/fmresearchnovak/IntegerWords
Description: Convert integers to English words.
 Converts integers to English words.  For example, convert 331002651 to "three hundred thirty one million two thousand six hundred fifty one".
