Source: integerwords
Section: unknown
Priority: optional
Maintainer: Ed Novak <enovak@fandm.edu>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13), dh-python, python3-all
Standards-Version: 4.6.2
Homepage: https://github.com/fmresearchnovak/IntegerWords
#Vcs-Browser: https://salsa.debian.org/debian/integerwords
#Vcs-Git: https://salsa.debian.org/debian/integerwords.git

Package: integerwords
Architecture: all
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${python3:Depends},
 python3, python3-setuptools,
Description: Convert integers to English words.
 Converts integers to English words.  For example, convert 331002651 to "three hundred thirty one million two thousand six hundred fifty one".

